.App {
  text-align: justify;
}

/* Selectors for header on App.js */
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

ul {
  list-style: none;
  text-decoration: none;
}

/* .App-title {
  font-size: 1.5em;
} */

/* .App-intro {
  font-size: large;
} */

/* Selectors for CategoryList */
img {
  display: block;
  height: auto;
  width: 100%;
}

.body {
  display: flex;
}

.image-preview {
  margin: 1em;
  border: 1px grey solid;
  padding: 1em;
}

.image-preview>header {
  font-size: 2em;
}